<!-- <section class="container centered"> --> 
<section class="container flex jc-center column list">
<section class=centered>
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>


<section>
  <div class="more-information row jc-space-between">
  <div class=blog>
    <h2>News</h2>
    
      <ul class=margin-top-fix>
      <div class="table-responsive">
        <table class="table table-sm table-borderless"> 
  
      {{ range where .Paginator.Pages "Type" "news" | first 3 }}
      <!-- <li> {{.Date.Format "January 2, 2006"}}  <br> {{.Content}} </li>
        <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Content }}</a> -->
        <tr>
          <th scope="row">{{.Date.Format "January 2, 2006"}} </th>
          <td>
            {{.Content}} 
          </td>
        </tr>
        
      {{ end }}
  
          </table>
      </div>
    </ul>
    </div> 
  </div>
</section>
</section>
  




